@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

html,
body {
  background-color: #fff;
  color: #555;
  font: 16px 'Montserrat Alternates';
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: #34495e;
}

.row {
  max-width: 800px;
  margin: 0 auto;
}
